@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --green:#07570f;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./images/back4.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.header-1 span{
    font-weight: lighter;
    color: white;
    font-size: large;
}
.header-1 a{
    color: white;
    font-size: large;
}
.header-1 a:hover{
    color: yellowgreen;
}
.header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background:var(--green) ;
   }
nav{
    background:#07570f;
}
.header-1{
    background: #07570f;
}
 nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li a:hover{
    color: yellowgreen;
    border-radius: 5px;
    box-shadow: 0 0 5px #93e288,
                0 0 5px #7bdb85;
}
nav ul ul li a:hover{
    color: yellowgreen;
    box-shadow: none;
}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul:hover> ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgb(247, 247, 91);
}

.brandname{
    font-size: 40px;
    color:white;
    padding-left: 10px;
    padding-right: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.nav-link{
    color:white;
    font-size: large;
    margin: 10px;
}
.nav-link:hover{
    color:yellowgreen;
    transition: 0.6s ease;
    border: 1px solid transparent;
}
.btn{
    display: inline;
    background: var( --green);
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    background:#07570f;
}
.form-control::placeholder{
    text-transform: capitalize;
    color:#07570f;
}
.heading1{
    text-align: center;
    font-size: 4rem;
    color: yellowgreen;
    padding: 1rem;
    margin: 2rem ;
    background-color:var(--green);
}
.heading1 span{
    color: white;
}
#para1{
    font-size: 20px;
    color: #fff;
}
.demo {
    position: relative;
    overflow: hidden;
}
@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
.demo:hover {
    animation: zoom-in 0.3s forwards
    }
    #more {
        display: none;
    }
    #myBtn{
        display: inline-block;
        padding: 12px 24px;
       background: var(--green);
        color: #fff;
        border: none;
        cursor: pointer;
        transition: 0.3s ease;
    }
    #myBtn:hover{
        background: lightgreen;
    }
    .head2{
        padding: 50px;
        text-align: center;
        font-size: 50px;
        color: #fff;
    }
    .head2:hover{
        animation: pulse 1s ; 
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    .rating {
        font-size: 50px; 
        text-align: center;
      }
      .star {
        color: #fdd835; 
      }
      .head3{
        text-align: center;
        font-size: 50px;
        color: #fff;
      }
      .head4{
        text-align: center;
        font-size: 30px;
        color: #fff;
      }
    .box1 {
      padding: 5px;
      margin: 5px;
    }
    .review {
        background-color: antiquewhite;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        transition: transform 0.3s ease-in-out;
    }
    .review:hover {
        transform: translateY(-10px);
    }
    .review-content {
        padding-bottom: 10px;
    }
    .reviewer {
        color: #666;
        font-style: italic;
        text-align: center;
    }
    @media (max-width: 768px) {
        .review {
            width: 100%;
        }
    }
   .image{
   margin: 10px;
   padding: 10px;
   box-sizing: border-box;
   width: 50%;
   height: 50%;
   display: flex;
   justify-content: center;
   }
   .image img{
    position: relative;
    overflow: hidden;
}
@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
    .image:hover {
    animation: zoom-in 0.3s forwards
    }
   .image img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px 5px;
   }
   #head4{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    color: #fff;
   }
   #head4:hover{
    animation: pulse 1s ; 

}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.footer{
    position: fixed;
    bottom: 0;
}
@media(max-height:800px){
    footer{
        position: static;
    }
}
.footer-distributed{
    background-color:var(--green);
    color: white;
    box-sizing: border-box;
    widows: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top:80px ;
}
.footer-distributed .footer-left, .footer-distributed, .footer-center, .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer-distributed .footer-left{
    width: 30%;
}
.footer-distributed h3{
    color: #fff;
    font: normal 36px;
    margin: 0;
}
.footer-distributed .footer-links{
   color: #fff;
   margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name{
    color: #93e288;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
     background-color: yellowgreen;
     font-size: 25px;
     width: 38px;
     height: 38px;
     border-radius: 50%;
     text-align: center;
     line-height: 42px;
     margin: 10px 15px;
     vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer-distributed .footer-center p a{
    color: white;
    text-decoration: none;
}
.footer-distributed .footer-right{
    width: 30%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0%;
}
.footer-distributed .footer-company-about span{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:yellowgreen;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover{
    color:var(--green);
}
.footer-links a:hover{
    color: yellowgreen;
}
@media(max-width:880px){
    .footer-distributed .footer-links, .footer-distributed, .footer-center .footer-distributed, .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i{
         margin-left: 0;
    }
    
}

